.table {
    width: 100%;
}

table {
    width: 80%; /* Tabla ocupa todo el ancho del contenedor */
    border-collapse: collapse; /* Elimina los espacios entre celdas */
    background-color: #ffffff; /* Fondo blanco para un diseño más limpio */
    border: 1px solid #ddd; /* Borde gris claro */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para dar profundidad */

}

th, td {
    padding: 0.9rem; /* Espaciado interno en las celdas */
    border: 0.01rem solid #ddd; /* Borde claro entre celdas */
    text-align: center;
}

th {
    background-color: #007bff; /* Color de fondo azul oscuro */
    color: white; /* Color de texto blanco */
}

tr:nth-child(even) {
    background-color: #eef4ff;
}

tr:nth-child(odd) {
    background-color: #ffffff;
}

.btn-green {
    color: rgb(255, 255, 255);
    background-color: rgb(74, 190, 99);
    padding: 0.5rem 1rem 0.5rem 1rem;
    text-decoration: none;
    font-weight: bold;
    font-style: italic;
    border-radius: 8px; /* Bordes redondeados */
    cursor: pointer;             /* Cursor en forma de mano */
    transition: background-color 0.3s ease-in-out; /* Efecto al pasar el cursor */
}

button {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
}

.btn-ora {
    color: rgb(255, 255, 255);
    background-color: #ff9800;
    padding: 0.5rem 1rem 0.5rem 1rem;
    text-decoration: none;
    font-weight: bold;
    font-style: italic;
    border-radius: 8px; /* Bordes redondeados */
    cursor: pointer;             /* Cursor en forma de mano */
    transition: background-color 0.3s ease-in-out; /* Efecto al pasar el cursor */
}

.btn-red {
    color: rgb(255, 255, 255);
    background-color: rgb(190, 74, 74);
    padding: 0.5rem 1rem 0.5rem 1rem;
    text-decoration: none;
    font-weight: bold;
    font-style: italic;
    border-radius: 8px; /* Bordes redondeados */
    cursor: pointer;             /* Cursor en forma de mano */
    transition: background-color 0.3s ease-in-out; /* Efecto al pasar el cursor */
}