.content-origin {
    all: unset;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: auto; /* Agrega barra de desplazamiento si el contenido excede el tamaño */
}

#form-delivery {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 0.8rem;
    box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 95%;
    height: 90%;
    min-height: 75%;
    overflow: auto; /* Agrega barra de desplazamiento si el contenido excede la altura */
}

form {
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem; /* Espaciado interno */
    border: 0.1rem solid #ddd; /* Borde gris claro */
    border-radius: 0.8rem; /* Bordes redondeados */
    box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.1); /* Sombra para dar profundidad */
    max-height: 90vh; /* Limitar la altura del formulario */
    overflow: auto; /* Activar scroll si el contenido excede el espacio */
}

.form-content {
    width: 90%;
    display: flex; /* Oculta todas las secciones del formulario por defecto */
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.form-section {
    flex: 1;
    min-width: 26rem;
    padding: 1rem;
    border: 0.1rem solid #ddd;
    border-radius: 0.8rem;
    background-color: #f9f9f9;
}

.form-section ul {
    list-style: circle;
    padding: 0.5rem 0rem 0.5rem 2rem;
}

h3 {
    margin-bottom: 1.5rem;
    color: #333;
    font-size: 1.2em;
}

.form-field {
    max-width: 100%;
    margin-bottom: 1.5rem;
}

.form-field textarea {
    width: 100%;
    max-width: 100%;
    max-height: 10rem; /* Limitar el tamaño máximo del textarea */
    resize: vertical; /* Permite que el área de texto se redimensione verticalmente */
}

.form-field-inline {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.form-element {
    width: 45%;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: #333;
}

input[type="date"],
input[type="time"],
input[type="number"],
select,
textarea {
    width: 100%;
    padding: 1rem;
    border: 0.1rem solid #ccc;
    border-radius: 0.4rem;
    box-sizing: border-box;
}

input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.buttons-add-delete {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.btn-agregar,
.btn-eliminar {
    padding: 1rem 1.5rem;
    font-size: 0.9em;
    cursor: pointer;
    border: none;
    border-radius: 0.4rem;
}

.btn-agregar {
    background-color: #28a745;
    color: #fff;
}

.btn-agregar:hover {
    background-color: #218838;
}

.btn-eliminar {
    background-color: #dc3545;
    color: #fff;
}

.btn-eliminar:hover {
    background-color: #c82333;
}

.btn-guardar {
    height: 4rem;
    width:fit-content;
    background-color: #007bff;
    color: #fff;
    padding: 1rem 1.5rem;
    border: none;
    border-radius: 0.4rem;
    font-size: 1em;
    cursor: pointer;
    margin-top: 0rem;
}

.btn-guardar:hover {
    background-color: #0069d9;
}

.step-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}

.btn-next,
.btn-previous {
    height: 4rem;
    padding: 1rem 1.5rem;
    font-size: 0.9em;
    cursor: pointer;
    border: none;
    border-radius: 0.4rem;
    background-color: #007bff;
    color: #fff;
}

.btn-next:hover,
.btn-previous:hover {
    background-color: #0069d9;
}

.btn-previous {
    background-color: #6c757d;
}

.btn-previous:hover {
    background-color: #5a6268;
}

@media (max-width: 76.8rem) {
    #form-delivery {
        width: 95%;
    }

    .form {
        flex-direction: column;
    }

    .form-section {
        min-width: unset;
    }
}
