.content-origin {
    all: unset;
    flex-grow: 1;
    height: 100%;
    overflow: auto;
    display: flex;
    justify-content: space-around;
}

.content-tools {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 100%;
    background-color: #ffffff; /* Fondo blanco para un diseño más limpio */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para dar profundidad */
}

.tools {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #27434e; /* Fondo blanco para un diseño más limpio */
    margin: 0% 0% 1% 0%;
}

.text-tool {
    color: #ffffff;
    text-decoration: none;
}

.information {
    width: 100%;
    height: 90%;
    display: flex;
    overflow: auto;
    padding: 1rem 0rem 1rem 0rem;
}

.general-info {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.info-products {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.tool-text {
    color: #ffffff;
    text-decoration: none;
}

table{
    margin: auto;
}

